.env
.env.local
.DS_Store

frontend/.next
frontend/node_modules
frontend/.env.local
frontend/*.tsbuildinfo
frontend/*.log

backend/.pytest_cache
backend/.venv
backend/__pycache__
backend/app/**/__pycache__
backend/tests/**/__pycache__
backend/*.log

*.log
*.db
*.db-journal
*.db-shm
*.db-wal
*.sqlite3
*.sqlite3-journal
*.sqlite3-shm
*.sqlite3-wal
*.tsbuildinfo
